<p><%= @price%>円</p>

<p><%= @comment %></p>
<p><%= raw(@comment) %></p>
<p>
<%= link_to(image_tag("rails.png",size:"50x64",alt:"ronr ",align:"top"),"http://rubyonrails.org")%></p>
<p>
<%= link_to(image_tag("/49a1a858-favicon-32x32.png",size:"50x64",alt:"ronr ",align:"top"),"https://assets.ubuntu.com/v1/49a1a858")%></p>
<p>
<%= link_to(image_tag("/matu82.jpg",size:"200x200",alt:"ronr ",align:"top"),"http://666999.info/pic")%></p>
